body {
    font-family: 'Open Sans', sans-serif;
    padding: 1rem;
    transition: 0.2s;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.dark {
    box-shadow: 3px 3px 12px #0000007c, -3px -2px 12px #f7f7f71f;
    color: #f7f7f7;
    background-color: #212327;
}

.light {
    box-shadow: 5px 5px 12px hsla(0, 0%, 0%, 0.08), -5px -5px 12px hsl(0, 0%, 98%);
    color: #212327;
    background-color: hsl(0, 0%, 94%);
}

#description {
    border-radius: 10px;
    margin-bottom: 2rem;
    font-size: 1rem;
    padding: 1rem;
    transition: 0.2s;
}

#description p {
    margin-bottom: 1rem;
    line-height: 1.3rem;
}

#description p:last-of-type {
    margin: 0;
}

span {
    color: #3B9DE5;
}

main {
    width: 100%;
    max-width: 520px;
    margin: 4rem auto;
}

#inputBox {
    padding: 1rem;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    width: 100%;
    margin: 0 auto 2rem auto;
    transition: 0.2s;
}

.newItemDiv {
    padding: 1rem;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.2s;
}

.newItem {
    transition: 0.2s;
}

#allButtons {
    width: 100%;
    max-width: 300px;
    margin: auto;
}

#addButton {
    padding: 1rem;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    color: #37be74;
    width: 100%;
    margin-bottom: 2rem;
    transition: 0.2s;
    font-weight: bold;
}

#addButton:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#undoAndDelete {
    display: flex;
    justify-content: space-between;
}

#undoButton, #clearButton {
    width: calc(50% - 0.5rem);
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    color: #f7f7f7;
    transition: 0.2s;
    font-weight: bold;
}

#undoButton:hover, #clearButton:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#undoButton {
    background-color: transparent;
    color: #3B9DE5;
}

#clearButton {
    background-color: transparent;
    color: #E84C4C;
}